.arbol-root {
  background: black;
  color: white;
  margin-bottom: 24px;

  * {
    list-style: none;
    font-family: monospace;
    font-size: 16px;
    line-height: 1.8;
  }

  & > details {
    position: relative;
    & > summary {
      header {
        padding: 8px 16px;
        background: darkslategray;
      }
    }

    label {
      cursor: pointer;
      position: absolute;
      right: 0;
      margin-right: 23px;
      margin-top: 24px;
      input {
        cursor: pointer;
      }
    }

    label:has(input:checked) ~ data {
      display: none;
    }

    label:has(input:not(:checked)) ~ pre {
      display: none;
    }
  }

  & > details > pre {
    margin: 0;
    padding: 24px;
    max-height: 600px;
    overflow: scroll;
  }

  data > ul {
    padding: 24px;
    margin: 0;
    max-height: 600px;
    overflow-y: scroll;
  }

  details {
    color: lightgrey;
  }

  var {
    color: goldenrod;
    &::before {
      content: "\"";
    }
    &::after {
      content: "\":";
    }
  }

  code.arbol-value {
    color: lightsalmon;
  }

  code.arbol-value.string {
    color: darkseagreen;
    font-weight: lighter;
    &::before {
      content: "\"";
    }
    &::after {
      content: "\"";
    }
  }

  code.arbol-value.boolean {
    color: deepskyblue;
    font-weight: bolder;
  }

  code.arbol-value.number {
    color: turquoise;
    font-weight: bolder;
  }

  summary {
    cursor: pointer;
  }

  details.arrobj {
    summary {
      font-weight: bolder;
      small {
        color: orchid;
        font-weight: lighter;
      }
    }
  }
}

body {
  background: #333;
  color: #aaa;
}
